.hero{
    text-align: center;
    height: 70vh;
}
.hero-center{
    margin-top: 50px;
}
.hero .banner, .hero .banner img{
    width: 100%;
    border-radius: 10px;
}
.hero h1{
    font-size: 1.8rem;
    color: #1f2a38;
    font-weight: 700;
}
.hero p{
    font-size: 1rem;
    color: #6a71a1;
}
.hero-btns{
    display: flex;
    gap: 10px;
    padding: 10px;
    justify-content: center;
}
.hero-btns a{
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    outline: none;
    text-decoration: none;
}
.hero-btns a:nth-child(2){
    background-color: #d0d5db;
    color: #111826;
}
.hero-btns a:nth-child(1){
    background-color: #111826;
    color: #fff;
}
.daily-dose-span{
    color: #7c22ce;
}