h1{
    text-align: center;
    color: #1f2a38;
    font-weight: 600;
}
.inner-map{
    padding: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
    h3{
        font-weight: 500;
        color: #1f2a38;
    }
    p{
        color:  #1f2a38;
    }
}
.videos-card{
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px #e2e2e2;
}
.videos-list{
    margin-top:30px;
}
.inner-map a{
    text-decoration: none;
    background-color: #7c23cf;
    padding: 10px 20px;
    font-weight: 600;
    border-radius: 50px;
    color: #fff;
}
.inner-map-a-div{
    margin-top: 20px;
    margin-bottom: 10px;
}
