h2{
    text-align: center;
}
.inner-map{
    padding: 10px;
    img{
        width: 100%;
        border-radius: 10px;
    }
    h3{
        text-align: center;
    }
}
.videos-card{
    background-color: #ececec;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 4px 8px #e2e2e2;
}
.videos-list{
    margin-top:30px;
}
.inner-map a{
    text-decoration: none;
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}
.inner-map-a-div{
    margin-top: 20px;
    margin-bottom: 10px;
}