header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
header h1{
    color: #7f23cf;
    font-weight: 700;
    font-size: 1.5rem;
}
header ul{
    list-style: none;
}
header button{
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #7f23cf;
    border: none;
    outline: none;
    color: #fff;
}